
<!--
<div class="banner">
  <div class="banner__wrap">
    <div class="container text--center text--white">
      <div class="banner__title">
      {% if page.banner.title-sup %}
        <h2 class="text--white sub-title--lg sub-title text--upper ">{{page.banner.title-sup}} </h2>
          <div class="space--md"></div>
      {% endif %}
        <h1 class="banner-title {{page.banner.title-size}} text--semibold">{% if page.banner.title %}{{page.banner.title}}{% else %}{{page.title}}{% endif %}</h1>
          <div class="space--md"></div>
        {% if page.banner.title-sub %}<h2 class="sub-title">{{page.banner.title-sub}}</h2>{% endif %}
      </div>
      <div class="space--md"></div>
    </div>
  </div>
  <div class="banner__bg-video" style="background-image: url('{{site.img}}/content/hero.jpg'); opacity:.7; ">
    <video controls poster="{{site.img}}/content/{{page.id}}/hero.jpg"  playsinline loop muted autoplay >
    <source src="{{site.img}}/content/hero.mp4" type="video/mp4">
    </video>
  </div>
  <div class="banner__nav">
    {% include nav/sections.html %}
  </div>
  <div class="site-nav__offset"></div>
</div>
/ -->

<div class="banner">
  <div class="site-header__offset"></div>
  <div class="banner__bg" ></div>
  <div class="banner__wrap">

    <div class="container text--center text--white">
      <div class="banner__title">
      {% if page.banner.title-sup %}
        <h2 class="text--white sub-title--lg sub-title text--upper ">{{page.banner.title-sup}} </h2>
      {% endif %}
        <h1 class="banner-title ">{% if page.banner.title %}{{page.banner.title}}{% else %}{{page.title}}{% endif %}</h1>
      </div>
    </div>

    <div class="banner__bottom-content">
      <div class="container container--xl text--center">
        {{page.banner.intro}}
      </div>
    </div>

  </div>
  <div class="banner__bg-video" style="background-image: url('{{site.img}}/content/hero.jpg')">
    <video controls poster="{{site.img}}/content/hero.jpg"  playsinline loop muted autoplay>
    <source src="{{site.img}}/content/hero.mp4" type="video/mp4">
  </video>

  </div>
  <div class="banner__nav">
    {% include nav/sections.html %}
  </div>
  <div class="site-nav__offset"></div>
</div>
